.documentation
  background-color: white
  border: 1px solid $light-gray-b
  border-radius: 7px

  & > *
    padding: 1em

    &:not(:last-child)
      border-bottom: 1px solid $light-gray-b

  .header
    display: flex
    justify-content: space-between
    align-items: center

    .name
      font-size: 2em
      font-weight: bold

    .github .link
      color: $blue-a

      &:hover, &:active
        color: $blue-b

  .description
    color: $dark-gray-b

.documentation__prop-types
  .header
    margin-bottom: 1em
    font-size: 1.25em
    font-weight: bold

  .table
    box-shadow: none
    border: 1px solid $light-gray-b

.documentation__examples
  font-family: inherit

  blockquote
    font-weight: 300

  .item
    margin-bottom: 2em
    border: 1px solid $light-gray-b
    border-radius: 7px
    overflow: hidden

    .example, .code
      padding: 1rem

    .example
      border-bottom: 1px solid $light-gray-b
