.pui--checkbox
  size = 1.5em
  icon-size = .5em

  display: flex
  align-items: center
  padding: .325em 0
  font-size: size

  &.error label
    @extends $inputs-error

  input
    @extends $inputs-dummy

    &:checked + label
      background-color: $highlight-color
      border-color: $highlight-color

      .icon
        transform: translate3d(-50%, -50%, 0) scale(1)


  label
    display: inline-block
    position: relative
    width: 1em
    height: 1em
    color: white
    border-width: 2px
    border-style: solid
    border-radius: 3px
    cursor: pointer

    transition: background-color .1s ease, border-color .1s ease
    background-color: white
    border-color: $light-gray-b

  .label
    margin-left: 1em
    font-size: .666em

  .icon
    display: inline-block
    position: absolute
    left: 50%
    top: 50%
    width: icon-size
    height: icon-size

    transition: transform .3s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    transform: translate3d(-50%, -50%, 0) scale(0)

.pui--checkbox__group
  display: flex
  justify-content: space-between
  align-items: center