.pui--checkbox
  size = 2em
  icon-ratio = .5
  icon-size = size * icon-ratio

  padding: .657em 0

  &.error label
    @extends $inputs-error

  input
    @extends $inputs-dummy

    &:checked + label
      background-color: $highlight-color
      border-color: $highlight-color

      .icon
        transform: translate3d(-50%, -50%, 0) scale(1)


  label
    display: block
    position: relative
    width: size
    height: size
    color: white
    border-width: 2px
    border-style: solid
    border-radius: 3px
    cursor: pointer

    transition: background-color .1s ease, border-color .1s ease
    background-color: white
    border-color: $light-gray-b

  .icon
    display: inline-block
    position: absolute
    left: 50%
    top: 50%
    width: icon-size
    height: icon-size

    transition: transform .3s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    transform: translate3d(-50%, -50%, 0) scale(0)
