.pui--input
  padding: 1em
  border: 1px solid $light-gray-b
  border-radius: 4px

  &::placeholder
    color: $dark-gray-a
    opacity: 1

  &:focus
    outline: none
    box-shadow: 0 10px 25px 0 alpha($dark-blue-a, 0.15)

  &.responsive
    width: 100%

  &.error
    border-color: $red-a
