.pui--input
  @extends $inputs-container
  padding: 1em

  &::placeholder
    @extends $inputs-placeholder
    opacity: 1

  &:focus
    @extends $inputs-focus

  &.fluid
    @extends $inputs-fluid

  &.error
    @extends $inputs-error
