.pui--select
  position: relative
  cursor: pointer
  width: $inputs-width

  &.focusing .container
    @extends $inputs-focus

  &.selecting .container
    position: absolute
    width: 100%
    box-shadow: $inputs-shadow-cover
    z-index: 10

  &.disabled
    cursor: not-allowed

    .container
      background-color: $light-gray-a

    .display, .placeholder
      color: $dark-gray-a

  &.loading
    cursor: wait

    .display .icon
      color: $dark-gray-a

  &.fluid
    &, .body, .container
      @extends $inputs-fluid

  &.error .container
    @extends $inputs-error

  input
    @extends $inputs-dummy

  .body
    height: 3.3125em
    line-height: 1.2

  .container
    @extends $inputs-container
    overflow: hidden

  .display
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1em

    .label
      display: flex
      align-items: center

      .spinner
        margin-right: 1em

  .icon
    width: .8em

  .placeholder
    @extends $inputs-placeholder

  .menu
    padding: 0
    margin: 0
    list-style: none

.pui--select.multi
  .pui--select__option.active
    &:not(:hover)
      background-color: transparent

    .label .icon
      transform: scale(1)

  .label
    display: flex
    justify-content: flex-start
    align-items: center

    .icon
      height: 1em
      transform: scale(0)

    .text
      margin-left: 1em

.pui--select__option
  padding: .75em 1em

  &:hover
    background-color: $light-gray-a

  &.active
    background-color: $light-gray-a