.pui--select
  position: relative
  cursor: pointer
  width: $inputs-width

  &.fluid .body
    @extends $inputs-fluid

  &.focusing .container
    @extends $inputs-focus

  &.selecting .container
    position: absolute
    width: 100%
    box-shadow: $inputs-shadow-cover

  &.error .container
    @extends $inputs-error

  input
    @extends $inputs-dummy

  .body
    height: 3.3125em
    line-height: 1.2

  .container
    @extends $inputs-container
    overflow: hidden

  .display
    padding: 1em

  .placeholder
    @extends $inputs-placeholder

  .menu
    padding: 0
    margin: 0
    list-style: none

.pui--select__option
  padding: .75em 1em

  &:hover
    background-color: $light-gray-a

  &.active
    background-color: $light-gray-a