.pui--spinner
  position: relative
  display: inline-block
  font-size: 1em
  text-indent: -9999em
  border-width: .15em
  border-style: solid
  border-color: alpha($dark-blue-a, 0.2)
  border-left-color: $dark-blue-a
  transform: translateZ(0)
  animation: spinner 1.1s infinite linear

  &, &:after
    width: 1em
    height: 1em
    border-radius: 50%

  &.thin
    border-width: .11em

@keyframes spinner {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
