__dirname = '../'
__assets = __dirname + '/assets'
__fonts = __assets + '/fonts'

@import '~normalize.css/normalize.css'
@import '~react-infinite-calendar/styles.css'

@import 'base/*'
@import 'common/*'
@import 'modules/*'