__dirname = '../'
__assets = __dirname + '/assets'
__fonts = __assets + '/fonts'

namespace(selector)
  'pui--' + selector

@import '~normalize.css/normalize.css'

@import 'base/*'
@import 'modules/*'