// Theme
$inputs-shadow-press = '...'
$inputs-shadow-focus = 0 10px 25px 0 alpha($dark-blue-a, 0.15)
$inputs-shadow-float = 0 10px 25px 0 alpha($dark-blue-b, 0.4)
$inputs-shadow-cover = 0 30px 40px 0 alpha($dark-blue-b, 0.2)

// Variables
$inputs-width = 20em

// Placeholders
$inputs-container
  width: $inputs-width
  background-color: white
  border: 1px solid $light-gray-b
  border-radius: 4px

$inputs-placeholder
  color: $dark-gray-a

$inputs-focus
  box-shadow: $inputs-shadow-focus

$inputs-fluid
  width: 100%

$inputs-dummy
  position: absolute
  width: 0
  height: 0
  opacity: 0

$inputs-error
  border-color: $red-a
