__Montserrat = __pui--fonts + '/Montserrat'

@font-face
 font-family: Montserrat
 font-style: normal
 font-weight: 600
 src: url(__Montserrat + '/Bold.otf')

@font-face
 font-family: Montserrat
 font-style: normal
 font-weight: 400
 src: url(__Montserrat + '/Regular.otf')

@font-face
 font-family: Montserrat
 font-style: normal
 font-weight: 300
 src: url(__Montserrat + '/Light.otf')

@font-face
 font-family: Montserrat
 font-style: normal
 font-weight: 200
 src: url(__Montserrat + '/UltraLight.otf')